snippet blog
	<!DOCTYPE html>
	<html>
	    <title>$1 - Ed The Dev</title>
		<head>
			<link rel="stylesheet" href="static/bootstrap/dist/css/bootstrap.min.css" />
			<link rel="stylesheet" href="static/bootstrap/dist/css/bootstrap-theme.min.css" />
			<link rel="stylesheet" href="static/edthedev.css" />
		</head>
		<body>

	<xmp>
	# $1
	$0

	</xmp>

	<script src="static/strapdown/strapdown.js"></script>
	</body>
	</html>
